*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  float: left;
  width: 30%;
  position: relative;
}

.film {
  width: 70%;
  margin: 40px auto;
  overflow: hidden;
  border: 2px solid lightgray;
  padding: 10px;
  position: relative;
}

.film-details {
    float: left;
    width: 65%;
    padding-left: 15px;
}

.action-like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
}

.action-watch-later {
    position: absolute;
    top: 8px;
    right: 8px;
    color: red;
}
